
commonRepository:before {
	content: "Common repository";
	display:block;
	font-weight: bold;
	text-decoration: underline;
    color:green;
}

commonRepository {
    display: block;
}


/* Functional items */

functionalItemRepository:before {
    content: "Functional items repository";
    display:block;
	font-weight: bold;
	text-decoration: underline;
}
functionalItemRepository {
    display:block;
	padding-left: 12pt;
}
functionalItemSpec {
    display: block;
    padding-bottom: 6pt;
}

functionalItemIdent:before {
    content: attr(id);
    display:block;
	font-weight: bold;
	text-decoration: underline;

}
functionalItemIdent {
    /*width: 40pt;*/
    content: "Identification: "
      " id="
      oxy_textfield(
          edit, '@id',
          columns, 20)
      " item no.="
      oxy_textfield(
          edit, '@functionalItemNumber',
          columns, 20)
      " type="
      oxy_combobox( 
            edit, '@functionalItemType',
            editable, false);

}


/* */
zoneRepository:before {
    content: "Zones repository";
    display:block;
	font-weight: bold;
	text-decoration: underline;
}
zoneRepository {
    display:block;
	padding-left: 12pt;
}
zoneSpec {
    display: block;
}
zoneIdent {
    width: 40pt;
    content: attr(zoneNumber);
}
zoneRef {
    width: 40pt;
    content: attr(zoneNumber);
}





/*  */
supplyRqmtRepository:before {
    content: "Functional physical area repository";
    display:block;
	font-weight: bold;
	text-decoration: underline;
}
supplyRqmtRepository {
    display:block;
	padding-left: 12pt;
}

/*  */
functionalPhysicalAreaRepository:before {
    content: "Functional physical area repository";
    display:block;
	font-weight: bold;
	text-decoration: underline;
}
functionalPhysicalAreaRepository {
    display:block;
	padding-left: 12pt;
}

/*  */
controlIndicatorRepository:before {
    content: "Control indicators repository";
    display:block;
	font-weight: bold;
	text-decoration: underline;
}
controlIndicatorRepository {
    display:block;
	padding-left: 12pt;
}
controlIndicatorSpec:before {
    display: block;
    font-weight: bold;
    text-decoration: underline;
    content: attr(controlIndicatorNumber);
}
controlIndicatorSpec {
    display: block;
    padding-bottom: 6pt;
}

/*  */
applicRepository:before {
    content: "Applic repository";
    display:block;
	font-weight: bold;
	text-decoration: underline;
}
applicRepository {
    display:block;
	padding-left: 12pt;
}

/* Warnings repository */
warningRepository:before {
    content: "Warnings repository";
    display:block;
	font-weight: bold;
	text-decoration: underline;
}
warningRepository {
    display:block;
	padding-left: 12pt;
}
warningSpec {
    display: block;
}
warningIdent:before {
    content: attr(warningIdentNumber);
    display: block;
    font-weight: bold;
    text-decoration: underline;
}

/* Cautions repository */
cautionRepository:before {
    content: "Cautions repository";
    display:block;
	font-weight: bold;
	text-decoration: underline;
}
cautionRepository {
    display:block;
	padding-left: 12pt;
}
cautionSpec {
    display: block;
}
cautionIdent:before {
    content: attr(cautionIdentNumber);
    display: block;
    font-weight: bold;
    text-decoration: underline;
}

warningAndCautionPara {
    display:block;
}
