
descCrew {
    
}

crewRefCard {
    
}

crewDrill {

}
subCrewDrill {
    
}

crewDrillStep {
    
}
challengeAndResponse {
    display: block;
}

challenge {
    width: 5cm;
}
response:before {
    content:" . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ";
    width: 8cm;
}
response {
    width: 5cm;
}

challenge > para, response > para {
    display: inline;
}

if {
    
}
caseCond {
    
}
crewProcedureName {
    
}

captionBody {
    display: table;
    border-top: 1pt solid black;
    border-left: 1pt solid black;
    border-collapse: collapse;
}
captionRow {
    display: table-row;
}
captionEntry {
    display: table-cell;
    border-bottom: 1pt solid black;
    border-right: 1pt solid black;
}