
/* raz pour tous les compteurs de niveau des descriptions */
description, descript {
    counter-reset: levelledPara1;
    counter-reset: levelledPara2;
    counter-reset: levelledPara3;
    counter-reset: levelledPara4;
    counter-reset: levelledPara5;
    counter-reset: levelledPara6;
}


levelledPara > para, para0 > para, subpara1 > para, subpara2 > para, subpara3 > para, subpara4 > para, subpara5 > para {
    margin-left: 1cm;
}

/* Incrémentation de la numérotation en fonction du niveau d'imbrication + indentation */
levelledPara > levelledPara > levelledPara > levelledPara > levelledPara > levelledPara, subpara5 {
    counter-increment: levelledPara6;
    margin-left:1cm;
}

levelledPara > levelledPara > levelledPara > levelledPara > levelledPara, subpara4 {
    counter-increment: levelledPara5;
    counter-reset: levelledPara6;
    margin-left:1cm;
}

levelledPara > levelledPara > levelledPara > levelledPara, subpara3 {
    counter-increment: levelledPara4;
    counter-reset: levelledPara5;
    counter-reset: levelledPara6;
    margin-left:1cm;
}

levelledPara > levelledPara > levelledPara, subpara2 {
    counter-increment: levelledPara3;
    counter-reset: levelledPara4;
    counter-reset: levelledPara5;
    counter-reset: levelledPara6;
    margin-left:1cm;
}

levelledPara > levelledPara, subpara1 {
    counter-increment: levelledPara2;
    counter-reset: levelledPara3;
    counter-reset: levelledPara4;
    counter-reset: levelledPara5;
    counter-reset: levelledPara6;
    margin-left:1cm;
}

levelledPara, para0 {
    counter-increment: levelledPara1;
    counter-reset: levelledPara2;
    counter-reset: levelledPara3;
    counter-reset: levelledPara4;
    counter-reset: levelledPara5;
    counter-reset: levelledPara6;
    margin-bottom:0.5cm;
}

/* Ajout de la numérotation en fonction du niveau d'imbrication */

/* For the fourth level */
levelledPara > levelledPara > levelledPara > levelledPara > title:before, subpara3 > title:before  {
    content: counter(levelledPara4) ". ";
    display: inline;
    width: 1cm;
}
levelledPara > levelledPara > levelledPara > levelledPara > para:first-child:before, subpara3 > title:before  {
    content: counter(levelledPara4) ". ";
    display: inline;
    width: 1cm;
}

/* For the third level */
levelledPara > levelledPara > levelledPara > title:before, subpara2 > title:before  {
    content: counter(levelledPara3) ". ";
    display: inline;
    width: 1cm;
}
levelledPara > levelledPara > levelledPara > para:first-child:before, subpara2 > title:before  {
    content: counter(levelledPara3) ". ";
    display: inline;
    width: 1cm;
}

/* For the second level */
levelledPara > levelledPara > title:before, subpara1 > title:before  {
    content: counter(levelledPara2) ". ";
    display: inline;
    width: 1cm;
}
levelledPara > levelledPara > para:first-child:before, subpara1 > title:before  {
    content: counter(levelledPara2) ". ";
    display: inline;
    width: 1cm;
}

/* For the first level */
levelledPara > title:before, para0 > title:before  {
    content: counter(levelledPara1) ". ";
    display: inline;
    width: 1cm;
}
levelledPara > para:first-child:before, para0 > para:first-child:before   {
    content: counter(levelledPara1) ". ";
    display: inline;
    width: 1cm;
}
levelledPara > para:first-child  {
    margin-left: 0cm!important;
}


/*
levelledPara > title {
    -oxy-prepend-content: counter(levelledPara1) ". ";
}
*/