/* --------------------------------------------------------------- */
/*                     DMODULE top-level CSS                       */
/* --------------------------------------------------------------- */

@import "rdf.css";
@import "idstatus.css";
@import "applic.css";
@import "cals_table.css";
@import "refs.css";
@import "paras.css";
@import "common-revs.css";

@import "figure.css";
@import "descript.css";
@import "crossreftable.css";
@import "proced.css";
@import "maint.css";
@import "frontmatter.css";
@import "comrep.css";

@import "crew.css";
@import "sb.css";
@import "ipd.css";
@import "fault.css";

@import "process.css";
@import "brex.css";
@import "wiring.css";

/* gestion des tableaux : reprendre ce qui est fait dans Docbook */

@namespace oxy url('http://www.oxygenxml.com/extensions/author');

@namespace xlink url('http://www.w3.org/1999/xlink');
@namespace rdf url('http://www.w3.org/1999/02/22-rdf-syntax-ns#');
@namespace dc url('http://www.purl.org/dc/elements/1.1/');


oxy|document {
	display:block !important;
	font-family: Arial !important; 
}

oxy|comment {
    display: none!important;
}

/* The data module */

dmodule {
	display:block;
	font-family: Arial !important;
	font-size: 10pt;
	margin:12pt;
	padding:12pt;
	border: 1pt solid #AAAAAA;
}

dmodule:after {
    display: block;
    text-align:center;
    font-weight: bold;
    border-top: 1pt solid black;
    border-bottom: 1pt solid black;
    margin-top: 12pt;
    content:"- End of data module -";
}

infoName:before, infoname:before {
	content: " - ";
}

/* Moved to refs.css
language {
    content: "-" attr(languageIsoCode) "-" attr(countryIsoCode);
}

dmCode {
    content: attr(modelIdentCode) "-" attr(systemDiffCode) "-" attr(systemCode) "-" attr(subSystemCode) "-" attr(subSubSystemCode) "-" attr(assyCode) "-" attr(disassyCode) "-" attr(disassyCodeVariant) "-" attr(infoCode) "-" attr(infoCodeVariant) "-" attr(itemLocationCode);
}

issueInfo {
    content : " rev. " attr(issueNumber);
}
*/


/* ==== content : Beginning of the DM  ==== */
/* content (refs, (referencedApplicGroup|referencedApplicGroupRef), (warningsAndCautions|warningsAndCautionsRef), <dmtype> )*/
content:before {
	display:block; 
	font-weight: bold;
	color: blue;
	content: "Content of the DM:";
	margin-top: 12pt;
}

content {
	display:block;
	counter-reset: figure;
	counter-reset: table;
}


/* refs */
refs:before {
	content:"References";
	display:block;
	font-weight: bold;
	text-decoration: underline;
}

refs {
	display:table;
	margin-bottom: 0.5cm;
	empty-cells: show;
}

refs > dmRef, refs > dmref {
	display: table-row;
}

/* Entete du tableau */
refs > dmRef:first-child > dmRefIdent:before {
	display: table-cell;
	content:"Identification";
	font-weight:bold;
	border-bottom: 2pt solid black;
	background-color:#CCCCCC;
}

refs > dmRef:first-child > dmRefAddressItems:before {
	display: table-cell;
	content:"Address";
	font-weight:bold;
	border-bottom: 2pt solid black;
	background-color:#CCCCCC;
}
refs > dmRef:first-child > dmRefIdent {
	border-top: 1pt solid black;
}

refs > dmRef:first-child > dmRefAddressItems {
	border-top: 1pt solid black;
}

refs > dmRef > dmRefIdent {
	display: table-cell;
	width: 8cm;
	border-bottom: 1pt solid black;
}

refs > dmRef > dmRefAddressItems {
	display: table-cell;
	width:12cm;
	border-bottom: 1pt solid black;
}


/* WarningAndCautions */
warningsAndCautions, warningsAndCautionsRef {
    padding-left: 12pt;
    display: block;
    padding-bottom: 6pt;
}
warningsAndCautions:before, warningsAndCautionsRef:before {
    content:"Warning and cautions";
    font-weight: bold;
	text-decoration: underline;
	margin-left: -12pt;

}
warningsAndCautionsRef > warningRef:before {
    content: "Warning ref: " oxy_textfield(edit, '@warningIdentNumber', columns, 10);
}
warningsAndCautionsRef > cautionRef:before {
    content: "Caution ref: " oxy_textfield(edit, '@cautionIdentNumber', columns, 10);
}

warningsAndCautionsRef > warningRef, warningsAndCautionsRef > cautionRef {
    display: block;
}




/* Types de contenu (procedural, descriptif, ...) */
brex, commonRepository, crew, frontMatter, illustratedPartsCatalog, proced, procedure, process, description, schedule, sb, wiringData, wiringFields {
	display:block;
}

