
@import "dmodule.css";

@namespace oxy url('http://www.oxygenxml.com/extensions/author');

oxy|document {
	display:block !important;
	font-family: Calibri !important; 
}

dmodule {
	display:block;
	font-family: Calibri !important;
	font-size: 14pt;
	margin:12pt;
	padding:12pt;
	border: 1pt solid #AAAAAA;
}