/* Traitement des figures, graphiques etc. */


figure {
    display:block;
    counter-increment: figure;
    text-align:center;
    padding: 0.5cm;
}

figure > title:before {
    -oxy-prepend-content:"Fig. " counter(figure) " - ";
}


graphic {
    /* content: url("graphic.jpg");*/
    /* Fonctionne seulement si oXygen sait afficher des CGM
       content: oxy_url(oxy_unparsed-entity-uri(attr(infoEntityIdent))); */
       content: oxy_url(oxy_unparsed-entity-uri(attr(infoEntityIdent)));
       display: block;
}

symbol {
    content: oxy_url(oxy_unparsed-entity-uri(attr(infoEntityIdent)));
}

hotspot {
    
}