/* Traitement des figures, graphiques etc. */


figure {
    display:block;
    counter-increment: figure;
    text-align:center;
    padding: 0.5cm;
}

figure > title:before {
    -oxy-prepend-content:"Fig. " counter(figure) " - ";
}


graphic {
    /* content: url("graphic.jpg");*/
    /* Fonctionne seulement si oXygen sait afficher des CGM
       content: oxy_url(oxy_unparsed-entity-uri(attr(infoEntityIdent))); */
       content: oxy_url(oxy_unparsed-entity-uri(attr(infoEntityIdent)));
       display: block;
}

symbol {
    content: oxy_url(oxy_unparsed-entity-uri(attr(infoEntityIdent)));
}

hotspot {
    display:block;
    content: url('hotspot.png') " Id: " oxy_textfield(edit, '@id', columns, 15)
       " APSID: " oxy_textfield(edit, '@applicationStructureIdent', columns, 10)
       " APSNAME: " oxy_textfield(edit, '@applicationStructureName', columns, 5)
       " type: " oxy_textfield(edit, '@hotspotType', columns, 10)
       " Title: " oxy_textfield(edit, '@hotspotTitle', columns, 10)
       " Descript: " oxy_textfield(edit, '@objectDescr', columns, 10)
          ;

}