/* Identification and status */

identAndStatusSection:before {
	display:block;
	font-weight: bold;
	color: blue;
	content: "Identification and status:";
}

identAndStatusSection {
	display:block;
	-oxy-foldable:true;
}

/* dmAddress */
dmAddress > dmIdent > dmCode:before {
    font-weight:bold;
    content:"Data module code: ";
}
dmAddressItems > issueDate:before {
    font-weight:bold;
    content:"Issue date: ";
}
dmAddressItems > issueDate {
    display: block;
    content: attr(day) "-" attr(month) "-" attr(year);
}

dmAddressItems > dmTitle {
	display: block;
	text-align: center;
	font-weight: bold;
	font-size: 14pt;
	color: blue;
	padding-top: 6pt;
	padding-bottom: 6pt;
}

/* Status */
dmStatus:before, pmStatus:before, ddnStatus:before, dmlStatus:before {
    content: "Status";
    font-weight: bold;
}

dmStatus, pmStatus, ddnStatus, dmlStatus {
	-oxy-foldable:true;
	-oxy-folded:true;
	padding: 6pt;
	border: 1pt solid #666666;
	background-color: #DCF0F8;
}

issueInfo {
    content : " rev. " attr(issueNumber);
}

/* Security */
security:before {
    content :"► Security information: ";
    color: fuchsia;
    font-weight: bold;
}
security {
    display:block;
    content: "Class:" oxy_combobox( 
            edit, '@securityClassification',
            editable, false) " " attr(commercialClassification) " " attr(caveat);
}

/* Data restrictions */
/*<dataRestrictions>
    <restrictionInstructions>
        <dataDistribution/>
        <exportControl>
            <exportRegistrationStmt>
                <simplePara/>
            </exportRegistrationStmt>
            <exportRegistrationCode/>
        </exportControl>
        <dataHandling/>
        <dataDestruction/>
        <dataDisclosure/>
        <supersedure/>
    </restrictionInstructions>
    <restrictionInfo>
        <copyright>
            <copyrightPara/>
        </copyright>
        <policyStatement/>
        <dataConds/>
    </restrictionInfo>
</dataRestrictions>
*/
dataRestrictions:first-of-type:before {
    display:block;
    font-weight: bold;
    color: fuchsia;
    content: "► Data restrictions";
}
dataRestrictions {
    display:block;
}

restrictionInstructions {
    
}

/* Copyright information */
copyright:before {
    display:block;
    font-weight: bold;
    color: fuchsia;
    content: "► Copyright information";
}
copyright {
    display:block;
}

/* Logo */
logo:before {
    display:block;
    font-weight: bold;
    color: fuchsia;
    content: "► Logo";
}
logo {
    display: block;
}

logo > symbol {
    content: oxy_url(oxy_unparsed-entity-uri(attr(infoEntityIdent))); /*oxy_url(oxy_xpath('unparsed-entity-uri(@infoEntityIdent)'));*/
}

/* RPC */
responsiblePartnerCompany:before {
    content :"► Responsible partner company: ";
    color: fuchsia;
    font-weight: bold;
}
originator:before {
    content :"► Originator: ";
    color: fuchsia;
    font-weight: bold;
}
responsiblePartnerCompany, originator {
    display:block;
    -oxy-prepend-content: attr(enterpriseCode) " - ";
}

/* Applic of the DM or PM */
pmStatus > applic:before, dmStatus > applic:before {
    content :"► Applicability: ";
    color: fuchsia;
    font-weight: bold;
}
pmStatus > applic, dmStatus > applic {
    display:block;
}

/* Technical standard*/
dmStatus > techStandard:before {
    content :"► Technical standard: ";
    color: fuchsia;
    font-weight: bold;
}
dmStatus > techStandard {
    display:block;
}


/* Brex reference */
pmStatus > brexDmRef:before, dmStatus > brexDmRef:before {
    content :"► Business rules reference: ";
    color: fuchsia;
    font-weight: bold;
}
brexDmRef {
    display:block;
}

/* QA  */
pmStatus > qualityAssurance:before, dmStatus > qualityAssurance:before {
    content :"► QA: ";
    color: fuchsia;
    font-weight: bold;
}
qualityAssurance {
    display:block;
}
qualityAssurance > unverified {
    content: "UNVERIFIED";
    display: block;
    font-weight: bold;
    color: red;
}
qualityAssurance > firstVerification {
    content: "First verification: " oxy_combobox( 
            edit, '@verificationType',
            editable, false);
    display: block;
} 
qualityAssurance > secondVerification {
    content: "Second verification: " oxy_combobox( 
            edit, '@verificationType',
            editable, false);
    display: block;
} 

/* */
systemBreakdownCode:before {
    content: "► System breakdown code";
    color: fuchsia !important;
    font-weight: bold !important;
    display:block !important;
}
functionalItemCode:before {
    content: "► Functional item code";
    color: fuchsia !important;
    font-weight: bold !important;
    display:block !important;
}
functionalItemRef:before {
    content: "► Functional item ref";
    color: fuchsia !important;
    font-weight: bold !important;
    display:block !important;
}

systemBreakdownCode, functionalItemCode, functionalItemRef {
    /*display:block; */
}

/* Skills */

skillLevel:before {
    content: "► Skills";
    color: fuchsia !important;
    font-weight: bold !important;
    display:block !important;
}
skillLevel {
    display:block; 
}


/* RFU */
reasonForUpdate:first-of-type:before {
    -oxy-prepend-content : "► Reason(s) for update(s): ";
    color: fuchsia !important;
    font-weight: bold !important;
    display:block !important;
}

reasonForUpdate > simplePara:first-child:before {
    -oxy-prepend-content: oxy_concat("Update ", oxy_xpath("../@id"), " / ", oxy_xpath("../@updateReasonType"));
    display:block;
    font-weight:bold;
    color:black;
}

reasonForUpdate {
    display:block;
    font-weight:normal!important;
}

/*
reasonForUpdate:before {
    -oxy-append-content:attr(id);
    display:table-cell;
    width:150pt;
    border: 1pt solid black;
}
reasonForUpdate:before {
    -oxy-append-content:attr(updateReasonType);
    display:table-cell;
    width:200pt;
    border: 1pt solid black;
}
reasonForUpdate {
    display:table-row;
}
*/

productSafety {
    
}

/* remarks */
remarks {
    
}

