
/* Common elements : warning, caution, para, lists, inline styles */

warning:before {
    display: block;
    content: "Warning:";
    font-style: italic;
    text-decoration: underline;
}
warning {
	display: block;
	font-weight: bold;
	color: red;
}

caution:before {
    display: block;
    content: "Caution:";
    font-style: italic;
    text-decoration: underline;
}
caution {
	display: block;
	color: red;
}

note:before {
    display: block;
    content: "Note:";
    font-style: italic;
    text-decoration: underline;
}
note {
	display: block;
	color: black;
	font-weight: bold;
	border: 1pt solid black;
}

remarks:before {
    display: block;
    content: "Remarks";
    font-style: italic;
    text-decoration: underline;
}
remarks {
    display: block;
}

title {
	display:block;
	font-weight: bold;
	text-decoration: underline;
}

simplePara, para, p {
	display: block;
}

/* TODO to be moved in descript.css?? */
levelledPara {
    display: block;
    margin-left:1cm;
}

/* lists */
/* TODO management du @listItemPrefix */
randomList, randlist {
	list-style: disc;
}

randomList > listItem, randlist > item {
	display: list-item;
	margin-left: 1cm;
	list-style-position: outside;
}

definitionListItem {
    
}
listItemTerm {
    font-weight: bold;
}
listItemDefinition {
    padding-left: 48pt;
}

/* TODO générer les   */
seqlist, sequentialList {
    counter-reset: seqlist1;
    display: block;
    list-style: decimal;
}
sequentialList > listItem {
	display: list-item;
	margin-left: 1cm;
	list-style-position: outside;
}

/* Inline styles */
emphasis, emphasis[emphasisType="em01"] {
	font-weight: bold;
}
emphasis[emphasisType="em02"] {
    font-weight: inherit;
    font-style: italic;
}
emphasis[emphasisType="em03"] {
    font-weight: inherit;
    text-decoration: underline;
}
emphasis[emphasisType="em04"] {
    font-weight: inherit;
    text-decoration: overline;
}
emphasis[emphasisType="em05"] {
    font-weight: inherit;
    text-decoration: line-through;
}
subScript {
    vertical-align: sub;
    font-size: 80%;
}
superScript {
    vertical-align: super;
    font-size: 80%;
}
footnote::before {
    content: "[";
}
footnote {
    color: #AAAAAA;
}
footnote::after {
    content: "]";
}

verbatimText {
    /* TODO */
}

acronym {
    /* TODO */
}

acronymText {
    /* TODO */
}
indexFlag {
    /* TODO */
}


/* In Airbus */
ein {
    content: attr(einnbr);
}
parasigdata {
    /* @psdtype */
}

tolerance[toleranceType = 'plusorminus'] {
    content: '+/-' attr(toleranceValue);
}
tolerance[toleranceType = 'plus'] {
    content: '+' attr(toleranceValue);
}
tolerance[toleranceType = 'minus'] {
    content: '-' attr(toleranceValue);
}
