
/* Common elements : warning, caution, para, lists, inline styles */

warning {
	display: block;
	font-weight: bold;
	color: red;
}

caution {
	display: block;
	color: red;
}

note {
	display: block;
	color: black;
	font-weight: bold;
	border: 1pt solid black;
}

title {
	display:block;
	font-weight: bold;
	text-decoration: underline;
}

simplePara, para {
	display: block;
}


levelledPara {
    display: block;
    margin-left:1cm;
}

/* lists */
randomList {
	list-style: disc;
}

randomList listItem {
	display: list-item;
	margin-left: 1cm;
	list-style-position: outside;
}

definitionListItem {
    
}
listItemTerm {
    font-weight: bold;
}
listItemDefinition {
    padding-left: 48pt;
}

/* Inline styles */
emphasis, emphasis[emphasisType="em01"] {
	font-weight: bold;
}
emphasis[emphasisType="em02"] {
    font-weight: inherit;
    font-style: italic;
}
emphasis[emphasisType="em03"] {
    font-weight: inherit;
    text-decoration: underline;
}
emphasis[emphasisType="em04"] {
    font-weight: inherit;
    text-decoration: overline;
}
emphasis[emphasisType="em05"] {
    font-weight: inherit;
    text-decoration: line-through;
}
subScript {
    vertical-align: sub;
    font-size: 80%;
}
superScript {
    vertical-align: super;
    font-size: 80%;
}
footnote::before {
    content: "[";
}
footnote {
    color: #AAAAAA;
}
footnote::after {
    content: "]";
}

verbatimText {
    /* TODO */
}

acronym {
    /* TODO */
}

acronymText {
    /* TODO */
}
indexFlag {
    /* TODO */
}



