


/* PRELIMINARY REQUIREMENTS (pour procedure) */
preliminaryRqmts {
    display: block;
    -oxy-foldable:true;
}

preliminaryRqmts:before {
	content:"Preliminary requirements";
	font-size: larger;
	display:block;
	font-weight: bold;
	text-decoration: underline;
}

/* Production management data*/
productionMaintData {
    display: block;
    margin-bottom: 0.5cm;
}
productionMaintData:before {
	content: "Production management data";
	display:block;
	font-weight: bold;
	text-decoration: underline;
}
workAreaLocationGroup {
    display: block;
}
workAreaLocationGroup > zoneRef:before {
    content: "Zone";
    width: 4cm;
    font-weight: bold;
}
workLocation:before {
    content: "Work location";
    width: 4cm;
    font-weight: bold;
}
workLocation {
    display: block;
}
workArea {
    
}
/* Required conditions */
reqCondGroup {
    display: block;
    margin-bottom: 0.5cm;
}

reqCondGroup:before {
	content: "Required conditions";
	display:block;
	font-weight: bold;
	text-decoration: underline;
}
reqCondGroup > *:first-child:before {
/* oxy_label documentation https://www.oxygenxml.com/doc/versions/18/ug-editor/concepts/dg-oxy-label-function.html */
    content: 
    oxy_label(text, "Action/Condition", width, 10cm, color, inherit, styles, "font-weight:bold;")
    oxy_label(text, "Data module / Technical publication", width, 6cm, color, inherit, styles, "font-weight:bold;");
    display:block;

	border-bottom: 2pt solid black;	border-top: 1pt solid black;	background-color:#CCCCCC;
	
}
noConds {
	content: "No condition.";
	display:block;
	margin-left: 1cm;
	font-style: italic;
	margin-bottom: 0.5cm;
}

/* -- List of persons -- */
reqPersons {
    display: block;
    margin-bottom: 0.5cm;
}

reqPersons:before {
	content: "Persons";
	display:block;
	font-weight: bold;
	text-decoration: underline;
}

reqTechInfoGroup {
    display: block;
}

reqTechInfoGroup:before {
	content: "TechInfo";
	display:block;
	font-weight: bold;
	text-decoration: underline;
}

reqTechInfo:before {
    content: "} ";
}
reqTechInfo {
    display: block;
}

/* -- List of support equipments -- */
reqSupportEquips {
    display: block;
    margin-bottom: 0.5cm;
}

reqSupportEquips:before {
	content: "Ground support equipments";
	display:block;
	font-weight: bold;
	text-decoration: underline;
}

supportEquipDescrGroup {
    display:table;
}

supportEquipDescr {
    display: table-row;
}

supportEquipDescr:first-child > name:before {
	display: table-cell;
	content:"Description";
	font-weight:bold;
	border-bottom: 2pt solid black;
	border-top: 1pt solid black;
	background-color:#CCCCCC;
	
}

supportEquipDescr > name {
    display: table-cell;
    border-bottom: 1pt solid black;
    width: 10cm;
}

supportEquipDescr:first-child > identNumber:before {
	display: table-cell;
	content:"Identification";
	font-weight:bold;
	border-bottom: 2pt solid black;
	border-top: 1pt solid black;
	background-color:#CCCCCC;
	
}

supportEquipDescr > identNumber {
    display: table-cell;
    border-bottom: 1pt solid black;
    width: 8cm;
}
supportEquipDescr:first-child > toolRef:before {
	display: table-cell;
	content:"Identification";
	font-weight:bold;
	border-bottom: 2pt solid black;
	border-top: 1pt solid black;
	background-color:#CCCCCC;    
}

toolRef {
    content: attr(toolNumber);
    display: table-cell;
    border-bottom: 1pt solid black;
    text-align:right;
    width: 8cm;
}

supportEquipDescr:first-child > reqQuantity:before {
	display: table-cell;
	content:"Quantity";
	font-weight:bold;
	border-bottom: 2pt solid black;
	border-top: 1pt solid black;
	background-color:#CCCCCC;
}

supportEquipDescr > reqQuantity {
    display: table-cell;
    border-bottom: 1pt solid black;
    text-align:right;
    width: 3cm;
}

noSupportEquips {
	content: "No support equipment.";
	display:block;
	margin-left: 1cm;
	font-style: italic;
	margin-bottom: 0.5cm;
}

/* -- Liste of Supplies -- */
reqSupplies {
    display: block;
    margin-bottom: 0.5cm;
}

reqSupplies:before {
	content: "Supplies";
	display:block;
	font-weight: bold;
	text-decoration: underline;
}

supplyDescrGroup {
    display:table;
}

supplyDescr {
    display: table-row;
}

supplyDescr:first-child > name:before {
	display: table-cell;
	content:"Description";
	font-weight:bold;
	border-bottom: 2pt solid black;
	border-top: 1pt solid black;
	background-color:#CCCCCC;
}

supplyDescr > name {
    display: table-cell;
    border-bottom: 1pt solid black;
    width: 10cm;
}

supplyDescr:first-child > identNumber:before {
	display: table-cell;
	content:"Identification";
	font-weight:bold;
	border-bottom: 2pt solid black;
	border-top: 1pt solid black;
	background-color:#CCCCCC;
}

supplyDescr > identNumber {
    display: table-cell;
    border-bottom: 1pt solid black;
    width: 8cm;
}

supplyDescr:first-child > reqQuantity:before {
	display: table-cell;
	content:"Quantity";
	font-weight:bold;
	border-bottom: 2pt solid black;
	border-top: 1pt solid black;
	background-color:#CCCCCC;
}

supplyDescr > reqQuantity {
    display: table-cell;
    border-bottom: 1pt solid black;
    text-align:right;
    width: 3cm;
}

noSupplies {
	content: "No supplies.";
	display:block;
	margin-left: 1cm;
	font-style: italic;
	margin-bottom: 0.5cm;
}


/* -- List of Spares -- */
reqSpares {
    display: block;
    margin-bottom: 0.5cm;
}

reqSpares:before {
	content: "Spares";
	display:block;
	font-weight: bold;
	text-decoration: underline;
}
spareDescr {
    display: block;
}
noSpares {
	content: "No spares.";
	display:block;
	margin-left: 1cm;
	font-style: italic;
	margin-bottom: 0.5cm;
}

/* Safety  */
reqSafety {
	display: block;
    margin-bottom: 0.5cm;
}

reqSafety:before {
	content: "Safety requirements";
	display:block;
	font-weight: bold;
	text-decoration: underline;
}
safetyRqmts:before {
    content: oxy_textfield(
          edit, '@warningRefs',
          columns, 40)
          "  "
          oxy_textfield(
          edit, '@cautionRefs',
          columns, 40);
          

}
safetyRqmts {
    display: block;
}
noSafety {
	content: "No safety requirement.";
	display:block;
	margin-left: 1cm;
	font-style: italic;
	margin-bottom: 0.5cm;
}

/* PROCEDURE CONTENT */
procedure:before {
	content: "Procedure";
	display:block;
	font-weight: bold;
	text-decoration: underline;
    color:green;
}

procedure {
    counter-reset: proceduralStep1;
    counter-reset: proceduralStep2;
    counter-reset: proceduralStep3;
    counter-reset: proceduralStep4;
    counter-reset: proceduralStep5;
    counter-reset: proceduralStep6;
}

mainProcedure {
    display:block;
    -oxy-foldable: true;
}

mainProcedure:before {
	content: "Main procedure";
	display:block;
	font-weight: bold;
	text-decoration: underline;
}

proceduralStep > para {
    margin-left: 1cm;
}

/* Incrémentation de la numérotation en fonction du niveau d'imbrication + indentation */
proceduralStep > proceduralStep > proceduralStep > proceduralStep > proceduralStep > proceduralStep {
    counter-increment: proceduralStep6;
    margin-left:1cm;
}

proceduralStep > proceduralStep > proceduralStep > proceduralStep > proceduralStep {
    counter-increment: proceduralStep5;
    counter-reset: proceduralStep6;
    margin-left:1cm;
}

proceduralStep > proceduralStep > proceduralStep > proceduralStep {
    counter-increment: proceduralStep4;
    counter-reset: proceduralStep5;
    counter-reset: proceduralStep6;
    margin-left:1cm;
}

proceduralStep > proceduralStep > proceduralStep {
    counter-increment: proceduralStep3;
    counter-reset: proceduralStep4;
    counter-reset: proceduralStep5;
    counter-reset: proceduralStep6;
    margin-left:1cm;
}

proceduralStep > proceduralStep {
    counter-increment: proceduralStep2;
    counter-reset: proceduralStep3;
    counter-reset: proceduralStep4;
    counter-reset: proceduralStep5;
    counter-reset: proceduralStep6;
    margin-left:1cm;
}

proceduralStep {
    counter-increment: proceduralStep1;
    counter-reset: proceduralStep2;
    counter-reset: proceduralStep3;
    counter-reset: proceduralStep4;
    counter-reset: proceduralStep5;
    counter-reset: proceduralStep6;
    margin-bottom:0.5cm;
}

/* Ajout de la numérotation en fonction du niveau d'imbrication */
proceduralStep > proceduralStep > proceduralStep > *:first-child:before {
    content: counter(proceduralStep3) ". ";
    display: inline;
    width: 1cm;
}

proceduralStep > proceduralStep > *:first-child:before {
    content: counter(proceduralStep2) ". ";
    display: inline;
    width: 1cm;
}

proceduralStep > *:first-child:before {
    content: counter(proceduralStep1) ". ";
    display: inline;
    width: 1cm;
}


closeRqmts:before {
	content:"Close-up requirements";
	display:block;
	font-weight: bold;
	text-decoration: underline;
}

closeRqmts {
    display: block;
    -oxy-foldable:true;
}


/* !! reqCondGroup is also used in preliminaryRqmts */
reqCondGroup {
    display:block;
}
reqCondNoRef {
    
}