


/* PROCEDURE CONTENT */
procedure:before, proced:before {
	content: "Procedure";
	display:block;
	font-weight: bold;
	text-decoration: underline;
    color:green;
}

procedure, proced {
    counter-reset: procedureSection;
    counter-reset: proceduralStep1;
    counter-reset: proceduralStep2;
    counter-reset: proceduralStep3;
    counter-reset: proceduralStep4;
    counter-reset: proceduralStep5;
    counter-reset: proceduralStep6;
}

preliminaryRqmts:before(100), prelreqs:before(100), mainProcedure:before(100), mainfunc:before(100), closeRqmts:before(100), closereqs:before(100),
preliminaryRqmts:before(200), prelreqs:before(200), mainProcedure:before(200), mainfunc:before(200), closeRqmts:before(200), closereqs:before(200) {
    font-size: larger;
    font-weight: bold;
	text-decoration: underline;
}

preliminaryRqmts:before(200), prelreqs:before(200), mainProcedure:before(200), mainfunc:before(200), closeRqmts:before(200), closereqs:before(200) {
    content: counter(procedureSection) ". ";
    width: 1cm;
}

/* PRELIMINARY REQUIREMENTS (pour procedure) */
preliminaryRqmts:before(100), prelreqs:before(100) {
	content:"Preliminary requirements";
}

preliminaryRqmts, prelreqs {
    counter-increment: procedureSection;
    display: block;
    -oxy-foldable:true;
}

/* Production management data*/
productionMaintData {
    display: block;
    margin-bottom: 0.5cm;
}
productionMaintData:before {
	content: "Production management data";
	display:block;
	font-weight: bold;
	text-decoration: underline;
}
workAreaLocationGroup {
    display: block;
}
workAreaLocationGroup > zoneRef:before {
    content: "Zone";
    width: 4cm;
    font-weight: bold;
}
workLocation:before {
    content: "Work location";
    width: 4cm;
    font-weight: bold;
}
workLocation {
    display: block;
}
workArea {
    
}
/* Required conditions */
reqCondGroup, reqconds {
    display: block;
    margin-bottom: 0.5cm;
}

reqCondGroup:before, reqconds:before {
	content: "Required conditions";
	display:block;
	font-weight: bold;
	text-decoration: underline;
}
reqCondGroup > *:first-child:before, reqconds > *:first-child:before {
/* oxy_label documentation https://www.oxygenxml.com/doc/versions/18/ug-editor/concepts/dg-oxy-label-function.html */
    content: 
    oxy_label(text, "Action/Condition", width, 10cm, color, inherit, styles, "font-weight:bold;")
    oxy_label(text, "Data module / Technical publication", width, 6cm, color, inherit, styles, "font-weight:bold;");
    display:block;

	border-bottom: 2pt solid black;	border-top: 1pt solid black;	background-color:#CCCCCC;
	
}
noConds, noconds {
	content: "No condition.";
	display:block;
	margin-left: 1cm;
	font-style: italic;
	margin-bottom: 0.5cm;
}

/* -- List of persons -- */
reqPersons, reqpers {
    display: block;
    margin-bottom: 0.5cm;
}

reqPersons:before, reqpers:before {
	content: "Persons";
	display:block;
	font-weight: bold;
	text-decoration: underline;
}

reqTechInfoGroup {
    display: block;
}

reqTechInfoGroup:before {
	content: "TechInfo";
	display:block;
	font-weight: bold;
	text-decoration: underline;
}

reqTechInfo:before {
    content: "} ";
}
reqTechInfo {
    display: block;
}

/* -- List of support equipments -- */
reqSupportEquips, supequip {
    display: block;
    margin-bottom: 0.5cm;
}

reqSupportEquips:before, supequip:before {
	content: "Ground support equipments";
	display:block;
	font-weight: bold;
	text-decoration: underline;
}

supportEquipDescrGroup {
    display:table;
}

supportEquipDescr {
    display: table-row;
}

supportEquipDescr:first-child > name:before {
	display: table-cell;
	content:"Description";
	font-weight:bold;
	border-bottom: 2pt solid black;
	border-top: 1pt solid black;
	background-color:#CCCCCC;
	
}

supportEquipDescr > name {
    display: table-cell;
    border-bottom: 1pt solid black;
    width: 10cm;
}

supportEquipDescr:first-child > identNumber:before {
	display: table-cell;
	content:"Identification";
	font-weight:bold;
	border-bottom: 2pt solid black;
	border-top: 1pt solid black;
	background-color:#CCCCCC;
	
}

supportEquipDescr > identNumber {
    display: table-cell;
    border-bottom: 1pt solid black;
    width: 8cm;
}
supportEquipDescr:first-child > toolRef:before {
	display: table-cell;
	content:"Identification";
	font-weight:bold;
	border-bottom: 2pt solid black;
	border-top: 1pt solid black;
	background-color:#CCCCCC;    
}

toolRef {
    content: attr(toolNumber);
    display: table-cell;
    border-bottom: 1pt solid black;
    text-align:right;
    width: 8cm;
}

supportEquipDescr:first-child > reqQuantity:before {
	display: table-cell;
	content:"Quantity";
	font-weight:bold;
	border-bottom: 2pt solid black;
	border-top: 1pt solid black;
	background-color:#CCCCCC;
}

supportEquipDescr > reqQuantity {
    display: table-cell;
    border-bottom: 1pt solid black;
    text-align:right;
    width: 3cm;
}

noSupportEquips, nosupeq {
	content: "No support equipment.";
	display:block;
	margin-left: 1cm;
	font-style: italic;
	margin-bottom: 0.5cm;
}

/* -- Liste of Supplies -- */
reqSupplies, supplies {
    display: block;
    margin-bottom: 0.5cm;
}

reqSupplies:before, supplies:before {
	content: "Supplies";
	display:block;
	font-weight: bold;
	text-decoration: underline;
}

supplyDescrGroup {
    display:table;
}

supplyDescr {
    display: table-row;
}

supplyDescr:first-child > name:before {
	display: table-cell;
	content:"Description";
	font-weight:bold;
	border-bottom: 2pt solid black;
	border-top: 1pt solid black;
	background-color:#CCCCCC;
}

supplyDescr > name {
    display: table-cell;
    border-bottom: 1pt solid black;
    width: 10cm;
}

supplyDescr:first-child > identNumber:before {
	display: table-cell;
	content:"Identification";
	font-weight:bold;
	border-bottom: 2pt solid black;
	border-top: 1pt solid black;
	background-color:#CCCCCC;
}

supplyDescr > identNumber {
    display: table-cell;
    border-bottom: 1pt solid black;
    width: 8cm;
}

supplyDescr:first-child > reqQuantity:before {
	display: table-cell;
	content:"Quantity";
	font-weight:bold;
	border-bottom: 2pt solid black;
	border-top: 1pt solid black;
	background-color:#CCCCCC;
}

supplyDescr > reqQuantity {
    display: table-cell;
    border-bottom: 1pt solid black;
    text-align:right;
    width: 3cm;
}

noSupplies, nosupply {
	content: "No supplies.";
	display:block;
	margin-left: 1cm;
	font-style: italic;
	margin-bottom: 0.5cm;
}


/* -- List of Spares -- */
reqSpares, spares {
    display: block;
    margin-bottom: 0.5cm;
}

reqSpares:before, spares:before {
	content: "Spares";
	display:block;
	font-weight: bold;
	text-decoration: underline;
}
spareDescr {
    display: block;
}
noSpares, nospares {
	content: "No spares.";
	display:block;
	margin-left: 1cm;
	font-style: italic;
	margin-bottom: 0.5cm;
}

/* Safety  */
reqSafety, safety {
	display: block;
    margin-bottom: 0.5cm;
}

reqSafety:before, safety:before {
	content: "Safety requirements";
	display:block;
	font-weight: bold;
	text-decoration: underline;
}
safetyRqmts:before {
    content: oxy_textfield(
          edit, '@warningRefs',
          columns, 40)
          "  "
          oxy_textfield(
          edit, '@cautionRefs',
          columns, 40);
          

}
safetyRqmts {
    display: block;
}

noSafety, nosafety {
	content: "No safety requirement.";
	display:block;
	margin-left: 1cm;
	font-style: italic;
	margin-bottom: 0.5cm;
}

/* ******************************* */
/*  Main content of the procedure  */
/* ******************************* */
mainProcedure, mainfunc {
    counter-increment: procedureSection;
    display:block;
    -oxy-foldable: true;
}

mainProcedure:before(100), mainfunc:before(100) {
	content: "Main procedure";
}

proceduralStepAlts {
    display: block;
    border-left: 2pt solid red;
}
proceduralStepAlts > proceduralStep {
    border-left: 2pt dotted red;
}

proceduralStep > *:not(:first-child), step1 > para, step2 > para, step3 > para, step4 > para, step5 > para, step6 > para {
    margin-left: 1cm;
    /* color: olive;*/
}

/* Incrémentation de la numérotation en fonction du niveau d'imbrication + indentation */
proceduralStep > proceduralStep > proceduralStep > proceduralStep > proceduralStep > proceduralStep, step6 {
    counter-increment: proceduralStep6;
    margin-left:1cm;
}

proceduralStep > proceduralStep > proceduralStep > proceduralStep > proceduralStep, step5 {
    counter-increment: proceduralStep5;
    counter-reset: proceduralStep6;
    margin-left:1cm;
}

proceduralStep > proceduralStep > proceduralStep > proceduralStep, step4 {
    counter-increment: proceduralStep4;
    counter-reset: proceduralStep5;
    counter-reset: proceduralStep6;
    margin-left:1cm;
}

proceduralStep > proceduralStep > proceduralStep, step3 {
    counter-increment: proceduralStep3;
    counter-reset: proceduralStep4;
    counter-reset: proceduralStep5;
    counter-reset: proceduralStep6;
    margin-left:1cm;
}

proceduralStep > proceduralStep, step2 {
    counter-increment: proceduralStep2;
    counter-reset: proceduralStep3;
    counter-reset: proceduralStep4;
    counter-reset: proceduralStep5;
    counter-reset: proceduralStep6;
    margin-left:1cm;
}

proceduralStep, step1 {
    counter-increment: proceduralStep1;
    counter-reset: proceduralStep2;
    counter-reset: proceduralStep3;
    counter-reset: proceduralStep4;
    counter-reset: proceduralStep5;
    counter-reset: proceduralStep6;
    margin-bottom:0.5cm;
}

/* Ajout de la numérotation en fonction du niveau d'imbrication */
proceduralStep > proceduralStep > proceduralStep > proceduralStep > proceduralStep > *:first-child:before, step5 > *:first-child:before {
    content: counter(proceduralStep5) ". ";
    display: inline;
    width: 1cm;
}
proceduralStep > proceduralStep > proceduralStep > proceduralStep > *:first-child:before, step4 > *:first-child:before {
    content: counter(proceduralStep4) ". ";
    display: inline;
    width: 1cm;
}
proceduralStep > proceduralStep > proceduralStep > *:first-child:before, step3 > *:first-child:before {
    content: counter(proceduralStep3) ". ";
    display: inline;
    width: 1cm;
}

proceduralStep > proceduralStep > *:first-child:before, step2 > *:first-child:before {
    content: counter(proceduralStep2) ". ";
    display: inline;
    width: 1cm;
}

proceduralStep > *:first-child:before, step1 > *:first-child:before {
    content: counter(proceduralStep1) ". ";
    display: inline;
    width: 1cm;
}
/* 
proceduralStep > * {
    margin-left: 1cm;
}
 */

/* ******************************* */
/*       Close-up procedure        */
/* ******************************* */
closeRqmts:before(100), closereqs:before(100) {
	content:"Close-up requirements";
}

closeRqmts, closereqs {
    counter-increment: procedureSection;
    display: block;
    -oxy-foldable:true;
}


/* !! reqCondGroup is also used in preliminaryRqmts */
reqCondGroup, reqconds {
    display:block;
}
reqCondNoRef {
    
}