
dmc {
    
}

avee > sdc, avee > chapnum, avee > section, avee > subject, avee > discode, avee > incode, avee > itemloc {
    -oxy-prepend-content: "-";
}

dmCode {
    content: attr(modelIdentCode) "-" attr(systemDiffCode) "-" attr(systemCode) "-" attr(subSystemCode) "-" attr(subSubSystemCode) "-" attr(assyCode) "-" attr(disassyCode) "-" attr(disassyCodeVariant) "-" attr(infoCode) "-" attr(infoCodeVariant) "-" attr(itemLocationCode);
}

ddnCode {
    content: attr(modelIdentCode) "-" attr(senderIdent) "-" attr(receiverIdent) "-" attr(yearOfDataIssue) "-" attr(seqNumber);
}

dmlCode {
    content: attr(modelIdentCode) "-" attr(senderIdent) "-" attr(dmlType) "-" attr(yearOfDataIssue) "-" attr(seqNumber);
}


dmaddres > issno:before {
    content: "Issue: " ;
    font-weight: bold;
}
/* TODO process inwork attribute */

issno {
    content: " rev. " attr(issno);
}

issueInfo {
    content : " rev. " attr(issueNumber);
}


dmaddres > language:before {
    content: "Language: " ;
    font-weight: bold;
}
language[language] {
    content : attr(language);
}
language[languageIsoCode] {
    content: "-" attr(languageIsoCode) "-" attr(countryIsoCode);
}


internalRef {
    content:attr(internalRefId);
    color: blue;
    text-decoration:underline;
}

/* refs */
refs:before {
	content:"References";
	display:block;
	font-weight: bold;
	text-decoration: underline;
}

refs {
	display:table;
	margin-bottom: 0.5cm;
	empty-cells: show;
}

refs > dmRef {
	display: table-row;
}

/* Entete du tableau */
refs > dmRef:first-child > dmRefIdent:before {
	display: table-cell;
	content:"Identification";
	font-weight:bold;
	border-bottom: 2pt solid black;
	background-color:#CCCCCC;
}

refs > dmRef:first-child > dmRefAddressItems:before {
	display: table-cell;
	content:"Address";
	font-weight:bold;
	border-bottom: 2pt solid black;
	background-color:#CCCCCC;
}

refs > dmRef:first-child > dmRefIdent {
	border-top: 1pt solid black;
}

refs > dmRef:first-child > dmRefAddressItems {
	border-top: 1pt solid black;
}

refs > dmRef > dmRefIdent {
	display: table-cell;
	width: 8cm;
	border-bottom: 1pt solid black;
}

refs > dmRef > dmRefAddressItems {
	display: table-cell;
	width:12cm;
	border-bottom: 1pt solid black;
}

